@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

html, body {
  background: #29323c;
  background: url("waves.svg"), linear-gradient(0deg, #485563 0%, #29323c 100%);
  background-size: 150px;
  background-attachment: fixed;
}

.react-icons {
  vertical-align: middle;
  margin-top: -2px;
}

.react-icons.react-icons-blue {
  color: #1677ff;
}

.react-icons.react-icons-green {
  color: #52c41a;
}

.react-icons.react-icons-yellow {
  color: #faad14;
}

.loader {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
  height: 42px;
}

.logo {
  height: 38px;
  margin-top: -2px;
}

.ant-layout, .ant-layout .ant-layout-footer {
  background: none !important;
}

.ant-layout-header {
  background: #FFF !important;
  padding-inline: 20px !important;
  overflow: hidden !important;
}

.ant-layout-footer {
  text-align: center;
  padding: 0 20px 40px !important;
}

.ant-layout-footer .ant-typography {
  color: #FFF !important;
  font-size: 18px !important;
  line-height: 1.6 !important;
}

.ant-layout-footer .made-by {
  color: rgba(255,255,255,0.75) !important;
  font-size: 16px !important;
}

.ant-layout-footer a {
  color: #FFF;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
}

.ant-layout-footer a:hover {
  color: #FFF;
  border-color: rgba(255,255,255,1);
}

.connect-button {
  float: right;
  font-weight: 600;
  font-size: 16px;  
  margin-top: 11px;
}

.connect-button .ant-badge-status {
  margin-right: 8px;
}

.connect-button .ant-badge-status-text {
  font-size: 16px !important;
}

.headline, .sections {
  margin: 60px auto;
}

.headline {
  text-align: center;
}

.headline .ant-typography {
  color: #FFF !important;
}

.headline h2.ant-typography {
  margin-top: 0px !important;
  font-weight: 200;
}

.headline .react-icons {
  color: rgba(255,255,255,0.75) !important;
  font-size: 32px;
  margin-bottom: 8px;
}

.headline .ant-statistic-title {
  color: rgba(255,255,255,0.75) !important;
  font-size: 16px;
}

.headline .ant-statistic-content {
  color: rgba(255,255,255,1) !important;
  font-weight: 600;
  font-size: 28px;
}

.sections {
  margin-bottom: 0;
}

.sections .ant-collapse-item {
  margin-bottom: 16px;
}

.sections .ant-collapse-item .ant-collapse-header {
  background: #FFF;
  font-weight: 800 !important;
  border-radius: 7px !important;
}

.sections .ant-collapse-item .ant-collapse-header .react-icons {
  margin-top: -3px;
  margin-left: 8px;
  font-size: 18px;
}

.sections .ant-collapse-item-active .ant-collapse-header {
  border-radius: 7px 7px 0 0 !important;
}

.sections .ant-collapse-item .ant-collapse-content {
  border-radius: 0 0 7px 7px !important;
}

.sections th.ant-descriptions-item {
  padding-bottom: 0 !important;
}

.sections td.ant-descriptions-item {
  padding-bottom: 5px !important;
}

.sections .ant-form-item {
  margin-bottom: 10px;
}

.ant-modal-body .logo-mark {
  height: 26px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 8px;
}