@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

html {
  background: #29323c;
  background: url("waves.svg"), linear-gradient(0deg, #485563 0%, #29323c 100%);
  background-attachment: fixed;
}

.react-icons {
  vertical-align: middle;
  margin-top: -2px;
}

.react-icons.react-icons-blue {
  color: #1677ff;
}

.react-icons.react-icons-green {
  color: #52c41a;
}

.react-icons.react-icons-yellow {
  color: #faad14;
}

.loader {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
  height: 42px;
}

.logo {
  height: 38px;
  margin-top: -2px;
}

.ant-layout, .ant-layout .ant-layout-footer {
  background: none !important;
}

.ant-layout-header {
  background: #F5F5F5 !important;
  background: linear-gradient(90deg, #ffffff 0%, #efefef 100%) !important;
  padding-inline: 20px !important;
  overflow: hidden !important;
}

.ant-layout-footer {
  text-align: center;
  padding: 0 20px 40px !important;
}

.ant-layout-footer .ant-typography {
  color: #FFF !important;
  font-size: 18px !important;
  line-height: 1.6 !important;
}

.ant-layout-footer .made-by {
  color: rgba(255,255,255,0.75) !important;
  font-size: 16px !important;
}

.ant-layout-footer a {
  color: #FFF;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
}

.ant-layout-footer a:hover {
  color: #FFF;
  border-color: rgba(255,255,255,1);
}

.ant-layout-footer .ant-divider {
  border-color: rgba(255,255,255,0.15);
  margin: 0 15px;
}

.ant-layout-footer .icon-link {
  border: 0;
}

.ant-layout-footer .divider-invisible {
  border-width: 0;
  margin: 0 8px;
}

.connect-button {
  float: right;
  font-weight: 600;
  font-size: 16px;  
  margin-top: 11px;
}

.connect-button .ant-badge-status-text {
  font-size: 16px !important;
}

.headline, .sections {
  margin: 60px auto;
}

.headline {
  text-align: center;
}

.headline .ant-typography {
  color: #FFF !important;
}

.headline h2.ant-typography {
  margin-top: 0px !important;
  font-weight: 200;
}

.headline .react-icons {
  color: rgba(255,255,255,0.75) !important;
  font-size: 32px;
  margin-bottom: 8px;
}

.headline .ant-statistic-title {
  color: rgba(255,255,255,0.75) !important;
  font-size: 16px;
}

.headline .ant-statistic-content {
  color: rgba(255,255,255,1) !important;
  font-weight: 600;
  font-size: 28px;
}

.sections {
  margin-bottom: 0;
}

.sections .ant-collapse-header-text {
  vertical-align: middle;
}

.sections .ant-collapse-header-text .ant-tag {
  font-weight: normal !important;
}

.sections .ant-collapse-expand-icon {
  display: none !important;
}

.sections .ant-collapse-header-text .ant-col {
  font-size: 15px !important;
}

.sections .ant-collapse-header-text .product-logo {
  height: 26px;
  margin-top: -3px;
  margin-right: 8px;
}

.sections .ant-collapse-header-text .product-logo-overlay {
  position: absolute;
  top: 2px;
  left: 18px;
}

.sections .ant-collapse-item {
  margin-bottom: 16px;
}

.sections .ant-collapse-item .ant-collapse-header {
  background: #FFF;
  font-weight: 800 !important;
  border-radius: 7px !important;
}

.sections .ant-collapse-item .ant-collapse-header .react-icons {
  margin-top: -3px;
  margin-left: 8px;
  font-size: 18px;
}

.sections .ant-collapse-item-active .ant-collapse-header {
  border-radius: 7px 7px 0 0 !important;
}

.sections .ant-collapse-item .ant-collapse-content {
  border-radius: 0 0 7px 7px !important;
}

.sections th.ant-descriptions-item {
  padding-bottom: 0 !important;
}

.sections td.ant-descriptions-item {
  padding-bottom: 5px !important;
}

.sections .ant-form-item {
  margin-bottom: 10px;
}

.ant-modal-body .logo-mark {
  height: 32px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 8px;
}

.web3-form {
  background: #f9f0ff;
  border-radius: 8px;
  padding: 6px 20px;
  margin-bottom: 10px;
}

.web3-form .ant-form-item-label {
  padding: 0;
}

.web3-form label {
  font-weight: bold;
}

.web3-form .ant-form a {
  color: #781ee1;
}

.web3-form .ant-input[disabled], .web3-form .ant-btn:disabled {
  color: #8c8c8c;
  background-color: #f0f0f0;
}

.web3-form .ant-input-group-addon {
  background-color: #ffffff;
}

.web3-form .ant-input-group-addon .token-logo {
  height: 20px;
  margin-top: 1px;
  margin-left: 6px;
  vertical-align: top;
}

.web3-form .web3-buttons {
  margin: 20px 0;
}

.web3-form .web3-buttons button {
  margin-right: 10px;
}

.web3-form .ant-alert {
  margin-bottom: 10px;
}

.web3-form .react-icons {
  margin-left: 2px;
}

.web3-form h5 {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}

.web3-form ul {
  padding-left: 15px !important;
}

.web3-form li::marker {
  color: rgba(120, 30, 225, 0.4);
}

.web3-form .ant-divider {
  margin: 10px 0;
}

.web3-form .ant-btn .react-icons {
  margin-right: 4px;
  margin-left: 0;
  font-size: 125%;
}

.popover-connected .ant-typography {
  margin-bottom: 0;
}

.popover-connected .ant-popover-inner {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
}

.ant-tabs .ant-tabs-tab .react-icons {
  margin-right: 2px;
  opacity: 0.4;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .react-icons {
  opacity: 1;
}

.ant-tabs .ant-tabs-tab .earned-usd {
  margin-left: 6px;
  color: #389e0d;
}

.ant-alert.banner-description {
  border-width: 0 0 0 8px !important;
  border-style: solid !important;
  padding-left: 15px;
  margin-bottom: 10px;
}

.panel-soon {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0 !important;
}

.panel-soon .react-icons {
  margin-right: 4px;
  margin-top: -3px;
  vertical-align: middle;
  color: #781ee1;
}